<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div class="messages">
      <p class="message" *ngFor="let message of messages">
        {{message}}
      </p>
    </div>
    <div class="form">
      <label for="">nick</label>
      <input type="text">
      <label for="">mssg</label>
      <input type="text" [(ngModel)]="inputMessage">
      <button (click)="sendMessage()">send</button>
    </div>
  </div>
</ion-content>